body {
    font-family: Helvetica, sans-serif;
    background-color: azure;
    max-width: 1024px;
    margin: auto;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
main > p {
    padding-left: 1em;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.5rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 1.5rem;
}
button {
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
button:active {
    background-color: cornflowerblue;
}
